* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.json text eol=lf
*.ipynb text eol=lf
binder/postBuild text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
